script(type="text/x-template")#practicum-container
    .my-work
        .slider
            .slider__title Практикум
            .slider__body
                .slider__count {{currentIndex+1}}
                controls(
                    @slide="handleSlide"
                    :currentWorkPractice="currentWorkPractice"
                )
                display(
                    @thumb="handleThumb"
                    :currentWorkPractice="currentWorkPractice"
                    :works="works"
                )
        school(
            :currentWorkPractice="currentWorkPractice"
        )

script(type="text/x-template")#practice-display
    .slider__preview
        img.slider__preview-image(:src="currentWorkPractice.photo", alt="slider preview1")
        thumbnail(
            @thumb="handleThumb"
            :works="reversedWorks"
            :currentWorkPractice="currentWorkPractice"
        )

script(type="text/x-template")#practice-thumbnail
    .slider__thumbnail
        ul.slider__list 
            li.slider__item(
                v-for="(work, index) in works" 
                :key="work.id"
                :class="{active: currentWorkPractice.id === work.id}"
                )
                button.slider__link(@click.prevent="handleClickThumb(index)")
                    img.slider__thumbnail-img(:src="`${work.photo}`", alt="slider thumbnail")

script(type="text/x-template")#practice-controls
    .slider__controls
        a(@click.prevent="handleClick('next')" id="btnNext").slider__btn.slider__btn--next
            .slider__btn-text &gt;
        a(@click.prevent="handleClick('prev')" id="btnPrev").slider__btn.slider__btn--prev.slider__btn--end
            .slider__btn-text &lt;

script(type="text/x-template")#practice-school
    .school
        tags(
        :currentWorkPractice="currentWorkPractice"
        )
        .school__title {{currentWorkPractice.title}}
        .school__text
            p  {{currentWorkPractice.description}}
        .school__site
            a.school__link(:href="currentWorkPractice.link") Посмотреть сайт

script(type="text/x-template")#practice-tags
    .tags
        ul.tags__list
            li.tags__item(v-for="tag in tagsArray") {{tag}}