script(type="text/x-template")#nav-container
  nav.nav#nav
    - 
      var items = [
        ["Главная", "#main"],
        ["Обо мне", "#about"],
        ["Навыки", "#skills"],
        ["Работы", "#works"],
        ["Отзывы", "#reviews"],
        ["Связаться", "#feedback"],
      ];
    ul.nav__list
      each item, index in items
        li.nav__item
          a.nav__link(href=`${item[1]}`,  v-scroll-to=`"${item[1]}"`) #{item[0]}