.author {
    &__name {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include phones {
            margin-bottom: 20px;
        }
    }
    &__property {
        opacity: .15;
    }
}