.btn {
    background-color: #d6841f;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 35px 125px;
    transition: all .3s;
    @include tablets {
        margin: 0 auto;
      }
    &:hover {
        background-color: #f39a2d;
    }
}