.nav {
    &__list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 60px;
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
    }
    &:hover {

    }
}