.skills {
    &-row {
        &__title {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        &__list {
            display: flex;
        }
        &__item {
            width: 140px;
            &:not(:last-child) {
                margin-right: 60px;
            }
        }
    }
}