.socials {
    &__list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__link {
        width: 31px;
        height: 25px;
        display: block;
    }
    &__icon {
        height: 100%;
        fill: $text-color;
        opacity: .3;
    }
}