.tags {
    margin-bottom: 50px;
    &__list {
        display: flex;
    }
    &__item {
        background-color: #f3f5f9;
        color: #2f3642;
        padding: 10px 15px;
        margin-right: 10px;
        border-radius: 25px;
    }
}