.tags {
    margin-bottom: 50px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        background-color: #f3f5f9;
        text-transform: uppercase;
        color: #2f3642;
        padding: 10px 15px;
        border-radius: 25px;
        white-space: nowrap;
        margin-bottom: 10px;
        &:not(:last-child) {
        margin-right: 10px;
        }
    }
}