.user-data {
    display: flex;
    &__title {
        font-weight: 900;
        font-size: 72px;
        text-align: center;
        line-height: 60px;
    }
    &__desc {
        position: absolute;
        width: 100%;
        right: 100%;
        text-align: right;
        margin-right: 60px;
        opacity: .4;
    }
}