.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar {
        width: 200px;
    }
    &__data-item {
        display: block;
        margin-right: 80px;
        opacity: .15;
        font-weight: 600;
    }
}