include ./components/nav/nav.pug
include ./components/skills/skills.pug
include ./components/slider/slider.pug
include ./components/practicum/practicum.pug
include ./components/feedback/feedback.pug
include ./components/form-feedback/form-feedback.pug

