section.section.section-four
    .jobs
    .jobs__title Мои работы
    .col
        .slider
    .col
        .school
        ul.subject__list
            li.subject__item HTML
            li.subject__item CSS
            li.subject__item JavaScript
        .school__title Сайт школы образования
        blockquote.school__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .school__link Посмотреть сайт