section.section.section-seven
    .footer
        .container
            .col
                .col
                    .copyright 2020
                .col
                    .author 
                    .author__name Арченков Артём
                    .author__propery Личный сайт веб-разработчика
                .col
                    .row
                        .nav.footer__nav
                        ul.nav__list
                            li.nav__item
                            a.nav__link(href="#", data-scroll-to="1") Главная
                            li.nav__item
                            a.nav__link(href="#", data-scroll-to="2") Обо мне
                            li.nav__item
                            a.nav__link(href="#", data-scroll-to="3") Навыки
                            li.nav__item
                            a.nav__link(href="#", data-scroll-to="4") Работы
                            li.nav__item
                            a.nav__link(href="#", data-scroll-to="5") Отзывы
                            li.nav__item
                            a.nav__link(href="#", data-scroll-to="6") Связаться
                    .row
                        .col
                            .footer__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                            .socials.footer__socials
                                ul.socials__list
                                li.socials__item
                                    a.socials__link(href="instagram.com")
                                li.socials__item
                                    a.socials__link(href="vk.com")
                                li.socials__item
                                    a.socials__link(href="github.com")
                        .col
                        blockquote.footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                        h3.footer__title Martin Golding