section.section.section__two
    .container.container-small
        .col
            .row
                .avatar
                    .avatar__img
                        img.avatar__image(src="#", alt="Artem Archenkov")
                blockquote.about 
                    p.about__introduction Привет меня зовут <h2 class="about__title">Арченков Артём</h2>Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .row
                .feature-person
                    ul.feature-person__list
                        li.feature-person__item
                            span.feature-person__headind Проживаю
                            span.feature-person__desc Астрахань
                        li.feature-person__item
                            span.feature-person__headind Возраст
                            span.feature-person__desc 32
                        li.feature-person__item
                            span.feature-person__headind Родился
                            span.feature-person__desc 14.08.1988
                .about_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!