section.section.section-one
    .container
        .header
            .col
                .logo
                    a.logo__link <'AA1 />
            .col
                nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#", data-scroll-to="1") Главная
                        li.nav__item
                            a.nav__link(href="#", data-scroll-to="2") Обо мне
                        li.nav__item
                            a.nav__link(href="#", data-scroll-to="3") Навыки
                        li.nav__item
                            a.nav__link(href="#", data-scroll-to="4") Работы
                        li.nav__item
                            a.nav__link(href="#", data-scroll-to="5") Отзывы
                        li.nav__item
                            a.nav__link(href="#", data-scroll-to="6") Связаться
            .col  
                .socials
                    ul.socials__list
                        li.socials__item
                            a.socials__link(href="instagram.com") I
                        li.socials__item
                            a.socials__link(href="vk.com") V
                        li.socials__item
                            a.socials__link(href="github.com") G
        .hero
            .col
                .hero__box
                    h1.title.hero__title Арченков Артём
                    .hero__subtitle Личный сайт веб-разработчика
        button.section__scroll-btn(type="button", data-scroll-to="1") Скролл