section.section.section-five
    .container
    .speech
        .row
        .col
            .speech__title Что обо мне говорят 
        .col
            button.speech__btn-arrow--left
            button.speech__btn-arrow--right
        .row
        ul.speech__list
            li.speech__item
            .row
                .blockquote.speech__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .row
                .col
                .speech__avatart
                .col
                .speech__name Ковальчук Дмитрий
                .speech__position Основатель LoftSchool
            li.speech__item
            .row
                blockquote.speech__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
            .row
                .col
                .speech__avatart
                .col
                .speech__name Сабанцев Владимир
                .speech__position Преподаватель