section.section.section-three
    .row
    .useful
        h2.useful__title Чем я могу быть полезен вам
        p.useful__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .row
    .skills
        .skills__direction
        h2.skills__title Front-End
        ul.skills__list
            li.skills__item HTML5
            li.skills__item CSS3
            li.skills__item JAVA SCRIPT
            li.skills__item JQUERY и VUE.JS 
        .skills__direction
        h2.skills__title Workflow
        ul.skills__list
            li.skills__item GIT
            li.skills__item TERMINAL
            li.skills__item GULP
            li.skills__item WEBPUCK 