section.section.section-six
    .container
    .feedback
        form(action="" ).feedback__form
            .form__title
            .form__body
                .row
                .col
                    label.form__label
                    .form__placeholder Введите ваше имя
                    input.form__input(type="text", name="name" required)
                    .error
                .col
                    label.form__label
                    .form__placeholder Введите ваше e-mail
                    input.form__input(type="text", name="email" required)
                    .error
                .row
                label.form__label
                    .form__placeholder Сообщение к письму
                    textarea.form__textarea(name="comment", cols="30", rows="10")
            button.btn.form__btn Отправить