script(type="text/x-template")#form-feedback-container
  .feedback
    form#deliveryForm(action="" ).feedback__form
      .feedback__title Связаться со мной
      .feedback__content
        .feedback__row
          .feedback__col
              label.feedback__label
                .message(:class="{error: validation.hasError('name')}") {{ validation.firstError('name') }}
                input.feedback__input.feedback__input-name(type="text", name="name", v-model="name" placeholder="Иванов Иван" required)
                .feedback__placeholder Введите ваше имя
          .feedback__col
              label.feedback__label
                .message(:class="{error: validation.hasError('email')}") {{ validation.firstError('email') }}
                input.feedback__input.feedback__input-email(type="text", name="email", v-model="email", placeholder="mail@gmail.com" required)
                .feedback__placeholder Введите ваш e-mail
        .feedback__row
          .feedback__col
            label.feedback__label
              .message(:class="{error: validation.hasError('textarea')}") {{ validation.firstError('textarea') }}
              textarea.feedback__textarea.feedback__textarea-textarea(name="comment", cols="30", rows="2", v-model="textarea" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" required)
              .feedback__placeholder.feedback__placeholder-textarea Сообщение к письму
        .feedback__row
          button(type="submit" @click.prevent="submit").btn.feedback__btn Отправить