script(type="text/x-template")#skills-list
    ul.user-skills
        li.user-skills__item(v-for="category in skills" :key="category.title")
            skills-row(
                :category="category"
            )


script(type="text/x-template")#skills-row
    .skills-row
        h3.skills-row__title {{category.title}}
        ul.skills-row__list
            li.skills-row__item(v-for="skill in category.skills" :key="skill.id")
                skill(
                :skill="skill"
            )

script(type="text/x-template")#skill
    .skill
        svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
            circle(r="80" cx="100" cy="100").skill__circle--under
            circle(r="80" cx="100" cy="100" ref="circle" stroke-dashoffset="").skill__circle--above
            linear-gradient()
        .skill__title {{skill.title}}