script(type="text/x-template")#slider-container
    .my-work
        .slider
            .slider__title Мои Работы
            .slider__body
                .slider__count {{currentIndex+1}}
                controls(
                    @slide="handleSlide"
                    :currentWork="currentWork"
                )
                display(
                    @thumb="handleThumb"
                    :currentWork="currentWork"
                    :works="works"
                )
        school(
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider-display
    .slider__preview
        img.slider__preview-image(:src="`https://webdev-api.loftschool.com/${currentWork.photo}`", alt="slider preview")
        thumbnail(
            @thumb="handleThumb"
            :works="reversedWorks"
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider-thumbnail
    .slider__thumbnail
        ul.slider__list 
            li.slider__item(
                v-for="(work, index) in works" 
                :key="work.id"
                :class="{active: currentWork.id === work.id}"
                )
                button.slider__link(@click.prevent="handleClickThumb(index)")
                    img.slider__thumbnail-img(:src="`https://webdev-api.loftschool.com/${work.photo}`", alt="slider thumbnail")

script(type="text/x-template")#slider-controls
    .slider__controls
        a(@click.prevent="handleClick('next')" id="btnNext").slider__btn.slider__btn--next
            .slider__btn-text &gt;
        a(@click.prevent="handleClick('prev')" id="btnPrev").slider__btn.slider__btn--prev.slider__btn--end
            .slider__btn-text &lt;

script(type="text/x-template")#slider-school
    .school
        tags(
        :currentWork="currentWork"
        )
        .school__title {{currentWork.title}}
        .school__text
            p  {{currentWork.description}}
        .school__site
            a.school__link(:href="currentWork.link") Посмотреть сайт

script(type="text/x-template")#slider-tags
    .tags
        ul.tags__list
            li.tags__item(v-for="tag in tagsArray") {{tag}}