.about {
  margin-bottom: 60px;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    margin-bottom: 60px;
    &-text {
      font-weight: 900;
      font-size: 21px;
      color: #414c63;
    }
  }
  &__group {
    display: flex;
  }
}