.works {
  margin-bottom: 60px;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    width: 33.333%;
    max-width: 33.333%; 
    max-height: 560px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
